.card{

  
  width:800px ;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  flex-direction: column;
  flex-wrap: wrap;
  
}

.image{
  
  height: 400px;
  width: 700px;
}


.screenshotcontainer{
  
  
 height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  

}

.screenshotimage{
  height: 100px;
  width: 100px;
  margin: 10px;
  background-size:cover;
  


}
.screenshot{
  height: 100px;
  width: 100px;
  border: 1px solid white;
  background-size: contain;
  
}

.screenshot:hover{
  transform: scale(1.1);
}

.input-writtingtext{
  font-size: 45px;
  color: black;
}

.searched-games{
  color: white;
  font-size: 27px;
}

.gamepage{
  color: white;
  font-size: 27px;
  

}

.gamepageblur{
  color: white;
  font-size: 27px;
  filter: blur(3px);
  
  pointer-events: none; 

}

.gamepageselect{
  color:white;
  font-size: 27px;
  background-color: black;
}

.checkbox{

  accent-color: goldenrod;
  background-color: black;
}

.gamecardcontainer{

  display: flex;
  


}

.modal{
  color: white;
  font-size: 27px;
  background: black;
  position: fixed;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 47px;
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}